project:
  type: website
  output-dir: build
  resources:
    - static/fonts/**
    - CNAME           # ensures custom‑domain file lands in gh‑pages root

website:
  title: "Niko Sirmpilatze"
  favicon: /static/img/favicon-32.png
  open-graph: true
  site-url: "https://www.nikosirmpilatze.com/"
  image: /static/img/headshot.jpg
  description: "Niko Sirmpilatze's personal website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects/index.qmd
        text: Projects
      - href: blog/index.qmd
        text: Blogposts
      - href: publications/index.qmd
        text: Publications
      - href: talks/index.qmd
        text: Talks
    right:
      - icon: github
        href: https://github.com/niksirbi
      - icon: mastodon
        href: https://neuromatch.social/@niksirbi
      - text: "{{< iconify simple-icons bluesky >}}"
        href: https://bsky.app/profile/nikosirmpilatze.com
      - text: "{{< iconify simple-icons orcid >}}"
        href: https://orcid.org/0000-0003-1778-2427

format:
  html:
    theme:
      light: [flatly, styles.scss]
      dark: [darkly, styles-dark.scss]
    toc: true
    page-layout: full
    mainfont: "Barlow"
    monofont: "JetBrains Mono"
