/*-- scss:defaults --*/

@import 'fonts';

$primary: #2c2c2c;

/*-- scss:rules --*/

kbd, .kbd {
  background-color: #222222 !important;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}